<div class="aluno-lista">

    <div class="cabecalho">
        <h2>lista de alunos</h2>
    </div>

    <button (click)="trocarModoExibicao()">
        {{ modoExibicao === 'tabela' ? 'ver cards' : 'ver tabela'}}
    </button>

    @if (listaAlunosFiltro.length === 0) {
    <p>Nenhum registro encontrado no banco</p>
    } @else {

    @if (modoExibicao == 'card') {
    <div class="lista-cards">
        @for (objetoAluno of listaAlunosFiltro; track $index) {
        <app-aluno-card [aluno]="objetoAluno"></app-aluno-card>
        }
    </div>
    } @if (modoExibicao == 'tabela') {
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>turma</th>
                    <th>nota final</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                @for (aluno of listaAlunosFiltro; track $index) {
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.turma }}</td>
                    <td>{{ aluno.notaFinal}}</td>
                    <td>{{ aluno.notaFinal >= 7 ? 'Aprovado' : 'Reprovado' }}</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
    }
    }
</div>