
.card-cabecalho img {
    width: 100%;
    height: 100%;
}

.lista-cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.home {
    height: 100%;
    background-color: rgb(52, 51, 51);
    padding: 16px;
}

.aluno-lista {
    padding: 16px;
    background-color: rgb(57, 57, 57);
    height: 100%;
}

.cabecalho {
    margin: 16px 0;
    color: white;
}